{% extends 'base.html.twig' %}

{% block title %}Annonces Voitures
{% endblock %}
{% block body %}

	<table class="table">
		<tr>
			<td class="table-primary text-center">Marques</td>
			        {% for marque in marques %}
				<tr>
					<td class="table-primary text-center"><a  href="{{ path('tab', {'id':marque.id}) }}">{{ marque.name }}</a></td>
				</tr>
			{% endfor %}
		</tr>
	</table>
</div>

<div class="container" style="width: 80%;">
	<h1 class="text-center">Liste des annonces</h1>
	<div class="d-flex justify-around">
		{% for annonce in annonces %}
			<div class="card" style="width: 25rem;">
				<img class="card-img-top" src="{{asset('images_directory/' ~ annonce.imgfile )}}" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">{{annonce.title}}</h5>
					<p class="card-text">{{annonce.description|raw}}</p>
					<a href="{{ path('app_annonce_show', {'id' : annonce.id}) }}" class="btn btn-primary">Voir l'annonce</a>
				</div>
			</div>
		{% endfor %}
	</div>
</div>{% endblock %}
